<% provide(:title, "Register") %>

<div class="row">
  <div class="col-md-4">
    <h2>Register</h2>

    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages" %>

      <div class="form-group">
        <%= f.label :first_name, "First Name" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, "Last Name" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Password (minimum of 6 characters)" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "Register", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
