<% provide(:title, "Your Dashboard") %>
<% provide(:page, "dashboard") %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-2">
      <%= form_for(Product.new) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
        </div>

        <%= f.submit "Sell", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row top-buffer"></div>

  <div class="row">
    <p>Your products that are not yet sold:</p>
    <table class="table table-striped">
      <tr>
        <th class="col-md-3">Product</th>
        <th class="col-md-3">Date Posted</th>
        <th class="col-md-3">Amount</th>
        <th class="col-md-3">Action</th>
      </tr>
      <% current_user.unsold_products.each do |sale| %>
      <tr>
        <td class="col-md-3"><%= sale.name %></td>
        <td class="col-md-3"><%= sale.created_at.strftime('%b %d, %Y') %></td>
        <td class="col-md-3"><%= "$#{sale.price}.00" %></td>
        <td class="col-md-3"><%=  %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="row top-buffer"></div>

  <div class="row">
    <p>Sales</p>
    <table class="table table-striped">
      <tr>
        <th class="col-md-3">Product</th>
        <th class="col-md-3">Date Bought</th>
        <th class="col-md-3">Buyer</th>
        <th class="col-md-3">Amount</th>
      </tr>
      <% current_user.sold_products.each do |sale| %>
      <% buyer = User.find(sale.buyer_id) %>
      <tr>
        <td class="col-md-3"><%= sale.name %></td>
        <td class="col-md-3"><%=  %></td>
        <td class="col-md-3"><%=  "#{buyer.first_name}  #{buyer.last_name}" %></td>
        <td class="col-md-3"><%= "$#{sale.price}.00" %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="row top-buffer"></div>

  <div class="row">
    <p>Purchases</p>
    <table class="table table-striped">
      <tr>
        <th class="col-md-3">Product</th>
        <th class="col-md-3">Date Bought</th>
        <th class="col-md-3">Seller</th>
        <th class="col-md-3">Amount</th>
      </tr>
      <% current_user.purchases.each do |sale| %>
      <% seller = User.find(sale.seller_id) %>
      <tr>
        <td class="col-md-3"><%= sale.name %></td>
        <td class="col-md-3"><%=  %></td>
        <td class="col-md-3"><%=  "#{seller.first_name}  #{seller.last_name}" %></td>
        <td class="col-md-3"><%= "$#{sale.price}.00" %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>Looks like you're not logged in. Sign up or log in <%= link_to "here", "/login" %>.</p>
<% end %>
