<% provide(:title, "Your Dashboard") %>
<% provide(:page, "dashboard") %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-2">
      <%= form_for(@product) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
        </div>

        <%= f.submit "Sell", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row top-buffer"></div>

  <div class="row">
    <h5>Your products that are not yet sold:</h5>
    <table class="table table-striped">
      <tr>
        <th class="col-md-3">Product</th>
        <th class="col-md-3">Date Posted</th>
        <th class="col-md-3">Amount</th>
        <th class="col-md-3">Action</th>
      </tr>
      <% current_user.unsold_products.each do |product| %>
      <tr>
        <td class="col-md-3"><%= product.name %></td>
        <td class="col-md-3"><%= product.created_at.strftime('%b %d, %Y') %></td>
        <td class="col-md-3"><%= number_to_currency(product.price) %></td>
        <td class="col-md-3"><%= link_to "Remove", "/products/destroy/#{product.id}", method: "delete" %></td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="row top-buffer"></div>

  <div class="row">
    <h5>Sales</h5>
    <table class="table table-striped">
      <tr>
        <th class="col-md-3">Product</th>
        <th class="col-md-3">Date Bought</th>
        <th class="col-md-3">Buyer</th>
        <th class="col-md-3">Amount</th>
      </tr>
      <% current_user.sold_products.each do |product| %>
      <% buyer = User.find(product.buyer_id) %>
      <tr>
        <td class="col-md-3"><%= product.name %></td>
        <td class="col-md-3"><%= product.bought_at.strftime('%b %d, %Y') if product.bought_at %></td>
        <td class="col-md-3"><%=  "#{buyer.first_name}  #{buyer.last_name}" %></td>
        <td class="col-md-3"><%= number_to_currency(product.price) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-9"></div>
  <div>
    <h5 class="col-md-3">Total: <%= current_user.sold_products.each.map(&:price).inject(:+) %></h5>
  </div>

  <div class="row top-buffer"></div>
  <div class="row top-buffer"></div>

  <div class="row">
    <h5>Purchases</h5>
    <table class="table table-striped">
      <tr>
        <th class="col-md-3">Product</th>
        <th class="col-md-3">Date Bought</th>
        <th class="col-md-3">Seller</th>
        <th class="col-md-3">Amount</th>
      </tr>
      <% current_user.purchases.each do |product| %>
      <% seller = User.find(product.seller_id) %>
      <tr>
        <td class="col-md-3"><%= product.name %></td>
        <td class="col-md-3"><%= product.bought_at.strftime('%b %d, %Y') if product.bought_at %></td>
        <td class="col-md-3"><%=  "#{seller.first_name}  #{seller.last_name}" %></td>
        <td class="col-md-3"><%= number_to_currency(product.price) %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-9"></div>
  <div>
    <h5 class="col-md-3">Total: <%= current_user.purchases.each.map(&:price).inject(:+) %></h5>
  </div>
<% else %>
  <h5>Looks like you're not logged in. Sign up or log in <%= link_to "here", "/login" %>.</h5>
<% end %>
